.footer {
  padding-top: 4.69rem;
  padding-bottom: 4.69rem;
  background-color: $darkBlackBlue;
  border-top-right-radius: 6.25rem;



  .container {

    @include breakpoint-up(medium){
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-template-areas: 
      "header header header"
      "link1 link2 link3";
    }

    @include breakpoint-up(large){
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-template-areas: 
      "header link1 link2 link3";
      justify-items: start;
    }
  }

  .item-1 {
    grid-area: header;
  }

  .item-2 {
    grid-area: link1;
  }

  .item-3 {
    grid-area: link2;
  }

  .item-4 {
    grid-area: link3;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  &__logo {
    text-align: center;
    margin-bottom: 5.25rem;

   @include breakpoint-up(medium){
     margin-bottom: 4.25rem;
    }

   @include breakpoint-up(large){
     margin-bottom: 0;
    }
  }

  &__title {
    font-size: $font-md-1;
    font-weight: 700;
    color: $white;
    margin-bottom: 1.3rem;
  }

  &__link {
    text-align: center;

    @include breakpoint-up(large) {
      text-align: left;
    }

    &:not(:last-child){
      margin-bottom: 3.68rem;

      @include breakpoint-up(medium){
        margin-bottom: 0;
      }

    }

    a {
      position: relative;
      font-weight: 400;
      color: $grayBlue;
      line-height: 2;

      &::before {
        content: "";
        position: absolute;
        top: 21px;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: white;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
      }

      &:hover::before {
        opacity: 1;
      }
    }
  }

}