.header {
  position: absolute;
  z-index: 1;
  width: 100vw;
  margin-top: 3.5rem;

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &.open {
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    opacity: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.1);
  }

  &__logo {
    height: 33px;

    @include breakpoint-up(large) {
      flex: 1 1 auto;
    }

    img {
      width: 5.125rem;
    }
  }

  &__toggle { // Mobile Menu Toggle
    > span {
      display: block;
      width: 34px;
      height: 3px;
      background-color: $white;
      transition: all 300ms ease-in-out;
      transform-origin: 6px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__links {
    flex: 1 1 50%;

    ul {
      padding: 0;
    }

    .submenu-parent {
      position: relative;
      display: inline-block;

      a {
        padding: 1rem 0 1.5rem 0rem;

        .arrow-down {
          border: solid $white;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 3px;
          margin-left: 3px;
          transform: rotate(45deg);
          transform-origin: right;
          transition: all 150ms ease-in-out;
        }

        &:focus .arrow-down {
            transform: rotate(226deg);
            transform-origin: center;
        }
      }

      &:not(:last-child){
          margin-right: 1.5rem;
      }

      &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 50px;
        left: 50%;
        transform: translateX(-64%);
        bottom: -1px;
        background-color: $white;
        opacity: 0;
        transition: opacity 100ms ease-in-out;
      }

      &:focus::before, &:focus-within::before {
        opacity: 1;
      }

      &:focus .submenu, &:focus-within .submenu {
        visibility: visible;
        opacity: 1;
        display: block;
      }
    }

    .submenu {
      padding-left: 0;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 40px;
      left: -15px;
      padding: 20px 50px 20px 20px;
      border-radius: 3px;
      filter: drop-shadow(0 0 10px rgba(51, 51, 51, 0.5));
      background-color: $white;
      transition: opacity 100ms ease-in-out;

      li {
        &:not(:last-child){
          margin-bottom: 0.4rem;
        }
      }

      li a {
        color: $darkGrayishBlue;

        &:hover {
          font-weight: bold;
        }
      }
    }

  }

  &__cta {
    position: relative;
    flex: 1 1 25%;

    a {
      &:not(:last-child){
        margin-right: 2rem;
      }
    }

    .login {
      &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 41px;
        top: 37px;
        background-color: $white;
        opacity: 0;
        transition: opacity 100ms ease-in-out;
      }

      &:hover::before {
        opacity: 1;
      }
    }
  }

  &__menu {
    position: absolute;
    width: calc(100% - 3rem);
    left: 50%;
    transform: translateX(-50%);
    background: $white;
    margin-top: 2.5rem;
    padding: 2.5rem 1.65rem;
    border-radius: 5px;
    filter: drop-shadow(0 0 10px rgba(51, 51, 51, 0.2));
    z-index: 1;
    
    ul, li, a{
      text-align: center;
      color: $veryDarkBlue;
      font-size: $font-md;
      font-family: 'Overpass', sans-serif;
      font-weight: bold;
    }

    .linebreak {
      border-top: 1px solid $grayBlue;
    }

    .submenu-parent {

      &:not(:last-child) {
        margin-bottom: 1.3rem;
      }

      svg {
        margin-left: 0.5rem;
        display: inline-block;
        transition: all 150ms ease-in-out;
      }

      &:focus svg, &:focus-within svg {
        transform: rotate(-180deg);
        transform-origin: center center;
      }

      &:focus > a, &:focus-within > a {
        color: $darkGrayishBlue;
      }

      &:focus .submenu, &:focus-within .submenu {
        visibility: visible;
        opacity: 1;
        display: block;
      }
    }
    
    .submenu {
      visibility: hidden;
      opacity: 0;
      display: none;
      position: relative;
      margin-top: 1rem;
      padding: 1.5rem 0;
      transition: opacity 100ms ease-in-out;
      background-color: hsl(240, 7%, 94%);

      li:not(:last-child) {
        margin-bottom: 1rem;
      }

      li a {
        font-size: $font-md;
        font-weight: bold;
        color: $darkGrayishBlue;
      }
    }

    .cta {
      margin-top: 2rem;

      ul li {
        &:not(:last-child) {
          margin-bottom: 1.3rem;
        }

      }
      .button {
        position: relative;
        display: inline-block;
        padding: 0.875rem 2.1875rem;
        background-image: linear-gradient(to right, $gVeryLightRed, $gLightred);
        border: 0;
        border-radius: 50px;
        font-family: 'Ubuntu', sans-serif;
        color: $white;
        font-weight: bold;
        font-size: $font-md;
        cursor: pointer;
      }
    }

  }

}