.intro {
  padding-top: 6.75rem;
  padding-bottom: 8.6rem;

  @include breakpoint-up(large){
    padding-top: 10.4rem;
    padding-bottom: 10rem;
    background-image: url(../images/illustration-editor-desktop.svg);
    width: 100%;
    background-size: 45%;
    background-position: 105% center;
    background-repeat: no-repeat;
  }

  &__title-1 {
    h3 {
      text-align: center;
      letter-spacing: -0.052rem;
    }
  }

  &__image {
    position: relative;
    padding: 3.3rem 0;

    img {
      position: relative;
      width: 90%;
      left: 50%;
      transform: translateX(-50%);

      @include breakpoint-up(large){
        display: none;
      }
    }
  }

  &__text-box {
    @include breakpoint-up(large){
      width: 70%;
    }
  }

  &__title-2, &__title-3 {
    @include breakpoint-up(large){
      width: 79%;
    }
    h4 {
      text-align: center;
      line-height: 1.22em;
      padding: 0 0.625rem 1.875rem 0.625rem;

      @include breakpoint-up(large){
        text-align: left;
        padding: 0 0 2.2rem 0;
      }
    }
  }

  &__paragraph {
    padding-bottom: 3.5rem;
    text-align: center;
    line-height: 1.8em;
    letter-spacing: 0.040em;

    @include breakpoint-up(large){
      padding-bottom: 5.5rem;
      text-align: left;
    }
  }



  // @include breakpoint-up(large){
  //   padding-top: 10.4rem;
  //   padding-bottom: 12rem;
  //   background-image: url(../images/illustration-editor-desktop.svg);
  //   width: 100%;
  //   background-size: 51%;
  //   background-position: 110% center;
  //   background-repeat: no-repeat;
  //   border: 1px solid red;
  // }

  // .container {
  //   position: relative;
  // }

  // .box {
  //   @include breakpoint-up(large) {
  //     display: grid;
  //     grid-template-columns: 1fr 1fr 1fr 1fr;
  //     grid-template-rows: auto;
  //     grid-template-areas: 
  //     "title-2 title-2 image image"
  //     "title-3 title-3 image image";
  //     column-gap: 1rem;
  //   }
  // }

  // &__title-1{
  //   margin-bottom: 3.37rem;

  //   @include breakpoint-up(large){
  //     margin-bottom: 7.8rem;
  //   }

  //   h3 {
  //     text-align: center;
  //     letter-spacing: -0.052rem;

  //   }
  // }

  // &__image {
  //   img {
  //     width: 100%;
  //     border: 1px solid blue;

  //     @include breakpoint-up(large){
  //       display: none;
  //     }
  //   }

  //   @include breakpoint-up(large){
  //     position: relative;
  //     grid-area: image;
  //   }
  // }

  // &__title-2, &__title-3 {
  //   h4 {
  //     text-align: center;
  //     padding: 0 10px;
  //     line-height: 1.22em;

  //     @include breakpoint-up(large) {
  //       text-align: left;
  //       padding: 0;
  //     }
  //   }

  //   p {
  //     text-align: center;
  //     line-height: 1.875em;
  //     letter-spacing: 0.040em;

  //     @include breakpoint-up(large) {
  //       text-align: left;
  //     }
  //   }
  // }

  // &__paragraph {
  //   margin-top: 2.5rem;

  //   @include breakpoint-up(large){
  //     margin-top: 1.5rem;
  //   }
  // }

  // &__title-2 {
  //   grid-area: title-2;
  //   margin-top: 3.75rem;

  //   @include breakpoint-up(large) {
  //     margin-top: 0;
  //     margin-bottom: 5.6rem;
  //   }
  // }

  // &__title-3 {
  //   grid-area: title-3;
  //   margin-top: 3.75rem;

  //   @include breakpoint-up(large) {
  //     margin-top: 0;
  //     //margin-bottom: 5.6rem;
  //   }
  // }

}